[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This repo contains the source of official Gluster documentation rendered at https://docs.gluster.org
[access "refs/*"]
	owner = group user/Barak Sason Rofman (BarakSason)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Barak Sason Rofman (BarakSason)
	label-Verified = -1..+1 group user/Barak Sason Rofman (BarakSason)
	push = group user/Barak Sason Rofman (BarakSason)
	read = group user/Barak Sason Rofman (BarakSason)
	rebase = group user/Barak Sason Rofman (BarakSason)
	removeReviewer = group user/Barak Sason Rofman (BarakSason)
	submit = group user/Barak Sason Rofman (BarakSason)
[access "refs/heads/*"]
	create = group user/Barak Sason Rofman (BarakSason)
	push = +force group user/Barak Sason Rofman (BarakSason)
	pushMerge = group user/Barak Sason Rofman (BarakSason)
	read = group user/Barak Sason Rofman (BarakSason)
[access "refs/tags/*"]
	push = group user/Barak Sason Rofman (BarakSason)
	push = +force group user/Barak Sason Rofman (BarakSason)
